{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">


	<body>

		{% block page_content %}

		<div id="curve">

			{% include 'home/header.html' %}
	
			<main>

				{% include 'home/krigjo25.html' %}
				{% include 'home/theProcsess.html' %}
				{% include 'home/jobs.html' %}
	
			</main>

		</div>
		<footer>

			<nav>

				<div class="col">

					<div class="tabs">

						<div class="tab">

							<input type="radio" id="rd1" name="rd">
							<label class="tab-label" for="rd1">Discord Bots</label>
							
							<div class="tab-content">
								{% for rp in dBots %}
								<div>
									

								<a href="{{ rp.link }}"><h3><img src={% static rp.img %} alt='python logo' width="30px">{{ rp.title }}</h3></a>

								<p class="capt">{{ rp.description }}</p>
								</div>
								
								{% endfor %}
							</div>
	
						</div>

						<div class="tab">

							<input type="radio" id="rd2" name="rd">
							<label class="tab-label" for="rd2">Database</label>
							
							<div class="tab-content">
								{% for db in databases %}

								<a href="{{ db.link }}">
									<h3>
										<img src={% static db.img %} alt='Mariadb logo' width="30px">
										{{ db.title }}
									</h3>
								</a>

								<p class="capt">{{ db.description }}</p>
								{% endfor %}

							</div>
	
						</div>


					  <div class="tab">

						<input type="radio" id="rd3" name="rd">
						<label for="rd3" class="tab-close">Close &times;</label>

					</div>
					</div>
				</div>


				<div class="tab">
				<label class="tab-label col"><a href='{% url "blogIndex" %}'>Blog</a></label>
				<label class="tab-label col"><a href='mailto:krigjo25@gmail.com'>Hire Me</a></label>
				</div>
			</section>
			</nav>
		</footer>
	</body>
</html>

{% endblock %}