<article>
				
    <h2> Greetings, I'm Kristoffer </h2>
    
    <h3> About me </h3>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed quis ullamcorper eros. Pellentesque sit amet finibus nisl. 
            Curabitur eu facilisis dui, egestas rutrum ligula. 
            Sed malesuada pretium nulla in placerat. Aliquam erat volutpat. 
            Fusce viverra suscipit libero, vitae finibus tortor aliquet posuere. 

        </p>

</article>