{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
	<html lang="en-us">
			<!-- Infomation about the head-->
		<head>
			<!-- Meta data information-->
			<meta charset="utf-8" />
			<title>East Coast RPG !</title>
			<meta name="author" content="krigjo25" />
			<meta name="description" content="rpg, samp" />
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
			<link rel="stylesheet" type = "text/css" href = "{% sass_src 'templates/SanandreasPhoto.sass' %}" media="screen" />
			<link rel="stylesheet" type = "text/css" href = "{% sass_src 'sass/accordion.sass' %}" media="screen" />
			<link rel="stylesheet" type = "text/css" href = "{% static 'css/index.css' %}" media="screen" />
		</head>

		<body>


			<header>

				<h1>
					<a href="{% url 'ecrpg' %}">East<span class="sCol">Coast</span> RPG</a>
				</h1>

				<nav>

					<ul>

						<li>
							<a href="https://discord.com/invite/q4kT94QQ?utm_source=Discord%20Widget&utm_medium=Connect"><img src="{% static 'svg/discord.svg' %}" class="discord"></a>
						</li>

						<li> 
							<a href="http://files.hzgaming.net/sa-mp-0.3.7-R4-install.exe"><img src="{% static 'img/samp.png' %}" class="samp"></a>
						</li>

					</ul>

				</nav>

			</header>

			<main>

				<section>

					<h2> Server Rules</h2>

					<article class="col">
						<h3> For details. feel free to press the buttons</h3>
		
								<div class="tabs">
			
									<div class="tab">
			
										<input type="radio" id="rd1" name="rd">
										<label class="tab-label" for="rd1">§1. Language - <b>Warn</b> / <b>Jail</b> / <b>Mute</b></label>

											<span class="capt">	Native languages are allowed, but in the globalchat we use english so everyone can be included in the convosation / understand you

												<ol>

													<li>
														<b>st offence</b>, Warning
													</li>

													<li>
														<b>nd offence</b>, Jail. - 300 sec
													</li>

													<li>
														<b>rd offence</b>, mute 1-5 min
													</li>
								
												</ol>

											</span>
		
										</div>
				
								</div>

					</article>

					<article class = "col">

								<div class="tabs">
			
									<div class="tab">

										<input type="radio" id="rd2" name="rd">
										<label class="tab-label" for="rd2">§2. Spamming - <b>Kick</b> /<b>Warn</b> / <b>Mute</b> /<b>Jail</b></label>

											<p class="capt">
												<strong>§2 Spam</strong>
												<span>Spam in this context refers to repeated use of the same command and repeatedly state the same statement</span>
											   <strong>
												   <em>kick by the server</em>
											   </strong>
											   Spamming in "/@" May result to :

											   <ol>
												   <li><b>st offence</b>, Warning</li>
												   <li><b>nd offence</b>, mute 1-5 min</li>
												   <li><b>rd offence</b>, jail 2-4 min</li>
											   </ol>
											</span>
		
										</div>
				
								</div>

							</div>
					</article>

					<article class = "col">

						<div class="tabs">
	
							<div class="tab">

								<div>

								</div>
								<input type="radio" id="rd3" name="rd">
								<label class="tab-label" for="rd3">§3. Offence - <b>Warn</b> /<b>Kick</b> / <b>Ban</b></label>

									<p class="capt">
										<strong>§2 Spam</strong>
										<span>Spam in this context refers to repeated use of the same command and repeatedly state the same statement</span>
										§3.1 	Provocation
										Any provocation on purpose is discuraged as it will result to a negative output for both parties. 

										Examples on purposed Provocation :
											<ul>
												<li>
													<b>Spawn killing</b>	
												</li>
												<li>
													<b>hidden offences</b>,
												</li>
		 								 		<li>
		 								 			<b>Arguing</b>,
		 								 		</li> 
		 										<li>
		 											<b>Using offensive nick-names</b>
		 										</li> 
		 										<li>
		 											<b>Being stubborn over religious or political views.</b>
		 										</li>
											</ul>
		 								

		 							<strong>§3.2 	Insults</strong>
		 										Since offences is actually considered by the offended player, we do disencourage to use such words which might be used as an insult, use comon sense when reporting.
												
												We recommend you as the offended to have a convosation with the offender about the offensive statement or action.

												<b>st offence</b> the player will be verbally warned that this kind of behavor is not tolerated. 

												<b>nd offence</b>, the player will be jailed for 120 seconds

									<strong>§3.3 Family Insults</strong>
												In this case where refering to any "attack" towards a player's personal relations, such as Family, friends, etc..
									<ol>
										<li>
											<b>st offence</b> warning / Kick
										</li>
										<li>
											<b>nd offence</b>, Jail 600 seconds
										</li>
									</ol>

									<strong>Repeated offences may lead to longer jail time</strong>
					


									<strong>§3.4 Discrimination </strong>
											the unjust or prejudicial treatment of different categories of people, especially on the grounds of <strong>race</strong>, <strong>Age</strong>, <strong>Sex</strong>, <strong> Sexual orentation</strong> or <strong>Disability</strong>.
											is not tolerated in the server at all.

											The Admin team encourage the community to respect each other, it doesn't mean you've to like the player, but respect the player for being a human. We do what we think is right in the given context.

									<b>st offence</b> you will recieve a clear warning and it will be logged.
									<b>nd offence</b>, Jail 600 seconds, as a clear warning,
									<b>Third offence</b> 1 week banned from the server
								</p>

								</div>
		
						</div>

					</div>
					</article>

					<article class = "col">

						<div class="tabs">
	
							<div class="tab">

								<input type="radio" id="rd4" name="rd" \>
								<label class="tab-label" for="rd4">§4. Offence - <b>Warn</b> /<b>Jail</b> / <b>Ban</b></label>

								<p class="capt"></p>
							</div>
					</article>

				</section>

				<section>

					<h2> Community Rules</h2>

					<article class = "col">

						<div class="tabs">
	
							<div class="tab">

								<input type="radio" id="rd1" name="rd" \>
								<label class="tab-label" for="rd1">§4. Offence - <b>Warn</b> /<b>Jail</b> / <b>Ban</b></label>

								<p class="capt"></p>
							</div>
						</div>
					</article>

				</section>
			</main>

			<footer>

					<p>
						EastCoast RPG by <span>Kennzo</span> © | <div class="btn"> Donate</div>
					</p>

				<cite>
						This website is not affiliated with Rockstar Games, Rockstar North or Take-Two Interactive Software Inc.
						Grand Theft Auto and Grand Theft Auto: San Andreas are registered trademarks of Take-Two Interactive Software Inc.
				</cite>

			</footer>

		</div>

	</body>

</html>
