{% load static %}

<!DOCTYPE html>
	<html lang="en-us">
			<!-- Infomation about the head-->
		<head>
			<!-- Meta data information-->
			<meta charset="utf-8" />
			<meta name="author" content="krigjo25" />
			<meta name="description" content="rpg, samp" />
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>East Coast RPG !</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" type = "text/css" href = "{% static 'css/index.css' %}" media="screen" />
		</head>

		<body>
			<div>
			<!-- Head of the document -->
			<header>
				<h1>
					<a href="{% url 'index' %}"><span></span>East<span class="sCol">Coast</span> RPG</a>
				</h1>
				<nav>
					<ul>
						<li>
						<a href="https://discord.com/invite/q4kT94QQ?utm_source=Discord%20Widget&utm_medium=Connect"><img src="{% static 'svg/discord.svg' %}" class="discord"></a>
						</li>
						<li> 
							<a href="http://files.hzgaming.net/sa-mp-0.3.7-R4-install.exe"><img src="{% static 'img/samp.png' %}" class="samp"></a>
						</li>
					</ul>
				</nav>
			</header>
			<!-- Middle of the document -->
			<main>
				<!-- Head of the content -->
					<article>
						<p>Welcome to the community, we're thrilled to enjoy the game with you. 
						Feel free to join ourcommunity at Discord</p>
						<p>EastCoast RPG is a San Andreas based server with feutures like</p>
						<ul>
							<li>Clan Wars</li>
							<li>Jobs</li>
							<li>Events</li>
							<li>Mini-missions</li>
						</ul>

						<h3> EastCoast Integerty Awards 3 players</h3>
						<div></div>
						<div></div>
						<div></div>
					</article>
					<article>
						<h3> Server Information</h3>
						<img src="{% static 'svg/development-idea-svgrepo-com.svg' %}">
							<div class="cap">
							<p> Management team and Game Documentations</p>
						</div>
						
						<p></p>
						<nav>
							<ul>
								<a href="{% url 'managementTeam' %}"><li class="btn">- The Admin team</li></a>
								<a href="{% url 'managementTeam' %}"><li class="btn">- Banned players</li></a>
								<a href="{% url 'managementTeam' %}"><li class="btn">- Community Rules</li></a>
								<a href="{% url 'managementTeam' %}"><li class="btn">- EastCoast Wiki</li></a>
							</ul>
						</nav>
					</article>
					<article>
						<h3>Server Statics</h3>
						<img src="{% static 'svg/stats-svgrepo-com.svg' %}" class="test">
						<div class="cap">
							<p> Player based activity, licenses, skin homes, Business and job statics </p>
						</div>
						<nav class="nav">
							<ul>
								<a href="#"><li class="btn">- EastCoast Top 5</li></a>
								<a href="#"><li class="btn">- EastCoast Job stats</li></a>
								<a href="#"><li class="btn">- EastCoast Vehicles</li></a>
								<a href="#"><li class="btn">- EastCoast Business</li></a>
								<a href="#"><li class="btn">- EastCoast Skins</li></a>
								<a href="#"><li class="btn">- EastCoast Homes</li></a>
								<a href="#"><li class="btn">- EastCoast Gallery</li></a>

							</ul>
						</nav>
					</article>
			</main>
			<footer>
					<p>
							EastCoast RPG by <span>Kennzo</span> © | <div class="btn"> Donate</div>
					</p>
				<cite>
					The website is not affiliated with Rockstar Games, Rockstar North or Take-Two Interactive Software Inc.
					Grand Theft Auto and Grand Theft Auto: San Andreas are registered trademarks of Take-Two Interactive Software Inc.
				</cite>
			</footer>
			</article>
			</div>
		</body>
	</html>
