<!DOCTYPE html>
<html lang="en-us">
	<!-- Infomation about the head-->
	<head>
		<!-- Meta data information-->
		<meta charset="utf-8" />
		<meta name="author" content="krigjo25" />
		<meta name="description" content="rpg, samp" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>East Coast RPG !</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css" media="screen">
		<link rel="stylesheet" type="text/css" href="../css/wiki.css" media="screen">
	</head>
	<body>
		<header>
			<h2>EastCoast:Wiki</h2>
		</header>
		<main>
			<header>
				<article>
					<h2> EastCoast Documentations</h2>
			</article>
			</header>
			<section>
				<article>
					<nav>
						<ul>
							<a href="status"><li> (img) EastCoast Admin / Helper Status</li></a>
							<a href="status"><li> (img) EastCoast cash system</li></a>
							<a href="status"><li> (img) EastCoast Items</li></a>
							<a href="status"><li> (img) EastCoast  Vehicle / House </li></a>
							<a href="jobs.html"><li> (img) Factions / professions of Eastcoast</li></a>
							<a href="status"><li> Tips'n Tricks</li></a>


						</ul>
					</nav>
				</article>
			</section>
		</main>
	</body>
</html>