<!DOCTYPE html>
	<html lang="en-us">
			<!-- Infomation about the head-->
		<head>
			<!-- Meta data information-->
			<meta charset="utf-8" />
			<meta name="author" content="krigjo25" />
			<meta name="description" content="rpg, samp" />
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>East Coast RPG !</title>
			<link rel="stylesheet" type="text/css" href="../css/index.css" media="screen">
			<link rel="stylesheet" type="text/css" href="../css/management.css" media="screen">
		</head>
		<body>
			<div>
			<!-- Head of the document -->
			<header>
				<a href="#"><h1><span>East</span><span class="sCol">Coast</span> RPG</h1></a>
				<nav>
					<ul>
						<li>
						<a href="https://discord.com/invite/q4kT94QQ?utm_source=Discord%20Widget&utm_medium=Connect"><img src="../lib/svg/discord.svg" class="discord"></a>
						</li>
						<li> 
							<a href="http://files.hzgaming.net/sa-mp-0.3.7-R4-install.exe"><img src="../lib/img/samp.png" class="samp"></a>
						</li>
					</ul>
				</nav>
			</header>
			<!-- Middle of the document -->
			<main>
				<section class="lvl3">
					<article>
						<div class="card">
  							<img src="../lib/img/0.png" alt="Avatar" class="cimg">
 						<div class="container">
    						<h4><b>JhonDoe</b></h4>
    						<div>
    							<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;">
    							<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;">
    							<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;"> 
    						</div>
    						<!-- If the admin is offilne,
    							Show last online date in red-->
    						<p>online / offline</p>
    						<p><strong>Boss :</strong> JhonDoe</p>
    					</div>
    				</article>
					<article>
						<div class="card">
  							<img src="../lib/img/0.png" alt="Avatar" class="cimg">
 						<div class="container">
    						<h4><b>JhonDoe</b></h4> 
    						<div>
    							<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;">
    							<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;">
    							<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;"> 
    						</div>
    						<!-- If the admin is offilne,
    							Show last online date in red-->
    						<p>online / offline</p>
    						<p><strong>Boss :</strong> JhonDoe</p>
    					</div>
    				</article>
					<article>
						<div class="card">
  							<img src="../lib/img/0.png" alt="Avatar" class="cimg">
 						<div class="container">
    						<h4><b>JhonDoe</b></h4> 
    						<div>
    							<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;">
    							<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;">
    							<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;"> 
    						</div>
    						<!-- If the admin is offilne,
    							Show last online date in red-->
    						<p>online / offline</p>
    						<p><strong>Boss :</strong> JhonDoe</p>
    					</div>
    				</article>
				</section>
				<section class="lvl2">

					<article>
						<div class="card">
  							<img src="../lib/img/0.png" alt="Avatar" class="cimg">
 							<div class="container">
    							<h4><b>JaneDoe</b></h4> 
    						<div>
    							<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;">
    							<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;">
    						</div>

    							<!-- If the admin is offilne,
    							Show last online date in red-->
    							<p>online / offline</p>
    							<p><strong>Boss :</strong> JhonDoe</p>
    						</div>
    					</div>
    				</article>
					<article>
						<div class="card">
  							<img src="../lib/img/0.png" alt="Avatar" class="cimg">
 							<div class="container">
    							<h4><b>JaneDoe</b></h4> 
    						<div>
    							<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;">
    							<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;">
    						</div>
    							<!-- If the admin is offilne,
    							Show last online date in red-->
    							<p>online / offline</p>
    							<p><strong>Boss :</strong> JhonDoe</p>
    						</div>
    					</div>
    				</article>
				</section>
				<section class="lvl1">
					<article>
						<div class="card">
  							<img src="../lib/img/0.png" alt="Avatar" class="cimg">
 						<div class="container">
    						<h4><b>MartinDoe</b></h4> 
    						<div>
    						<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;">
    						</div>
    						<!-- If the admin is offilne,
    							Show last online date in red-->
    						<p>online / offline</p>
    						<p><strong>Boss :</strong> JaneDoe</p>
    					</div>
    				</article>
    				<article>
						<div class="card">
  							<img src="../lib/img/0.png" alt="Avatar" class="cimg">
 						<div class="container">
    						<h4><b>MartinDoe</b></h4> 
    						<div>
    						<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;">
    						</div>
    						<!-- If the admin is offilne,
    							Show last online date in red-->
    						<p>online / offline</p>
    						<p><strong>Boss :</strong> JaneDoe</p>
    					</div>
    				</article>
    				<article>
						<div class="card">
  							<img src="../lib/img/0.png" alt="Avatar" class="cimg">
 						<div class="container">
    						<h4><b>MartinDoe</b></h4> 
    						<div>
    						<img src="../lib/svg/star.svg" alt="Avatar" style ="inline-size: 2em;">
    						</div>
    						<!-- If the admin is offilne,
    							Show last online date in red-->
    						<p>online / offline</p>
    						<p><strong>Boss :</strong> JaneDoe</p>
    					</div>
    				</article>
				</section>
				<section class="helper">
					<article>
						<div class="card">
  							<img src="../lib/img/0.png" alt="Avatar" class="cimg">
 							<div class="container">
    							<h4><b>NickDoe</b></h4> 
    							<p>Helper</p>
    							<!-- If the admin is offilne,
    							Show last online date in purple-->
    							<p>online / offline</p>
    							<p><strong>Boss :</strong> MartinDoe</p>
    						</div>
    					</div>
    				</article>
    				<article>
						<div class="card">
  							<img src="../lib/img/0.png" alt="Avatar" class="cimg">
 							<div class="container">
    							<h4><b>NickDoe</b></h4> 
    							<p>Helper</p>
    							<!-- If the admin is offilne,
    							Show last online date in purple-->
    							<p>online / offline</p>
    							<p><strong>Boss :</strong> MartinDoe</p>
    						</div>
    					</div>
    				</article>
    				<article>
						<div class="card">
  							<img src="../lib/img/0.png" alt="Avatar" class="cimg">
 							<div class="container">
    							<h4><b>NickDoe</b></h4> 
    							<p>Helper</p>
    							<!-- If the admin is offilne,
    							Show last online date in purple-->
    							<p>online / offline</p>
    							<p><strong>Boss :</strong> MartinDoe</p>
    						</div>
    					</div>
    				</article>
				</section>
			</main>
			<footer>
					<p>
							EastCoast RPG by <span>Kennzo</span> © | <div class="btn"> Donate</div>
					</p>
				<cite>
					This website is not affiliated with Rockstar Games, Rockstar North or Take-Two Interactive Software Inc.
					Grand Theft Auto and Grand Theft Auto: San Andreas are registered trademarks of Take-Two Interactive Software Inc.
				</cite>
			</footer>
			</article>
			</div>
		</body>
	</html>
