{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title> krigjo25</title>
		<meta description="Tombstone Protector" />
		<meta name="maintainer" content="@krigjo25">
		<meta name="edited" content="@krigjo25" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="python, django, cv">
		<meta http-equiv="content-security-policy|content-type|defult-style|refresh">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" type = "text/css" href = "{% sass_src 'sass/__krigjo25Index__.sass' %}" media="screen" />
        <link rel= "stylesheet" type = "text/css" href = "{% sass_src 'sass/krigjo25Accordion.sass' %}" media = "screen">
    </head>
	{% block page_content %}
	<body>
		{% include  "template/firefly/firefly.html" %}
		<div id="curve">

			<header>
	
				<h1> The Technology of tomorrow </h1>
				<h1> The feature is now. </h1>
			
			</header>
	
			<main>
				{% include 'krigjo25.html'%}
				{% include 'jobs.html'%}
				{% include 'theProcsess.html'%}
	
			</main>
	
			<footer>
	
				<nav>
	
					<div class="col">
	
						<div class="tabs">
	
							<div class="tab">
	
								<input type="radio" id="rd1" name="rd">
								<label class="tab-label" for="rd1">Discord Bots</label>
								
								<div class="tab-content">

									{% for rp in dBots %}

									<a href="{{ rp.link }}"><h3><img src={% static rp.img %} alt='' width="100px">{{ rp.title }}</h3></a>

									<span class="capt">{{ rp.description }}</span>

									{% endfor %}
								</div>
		
							</div>

							<div class="tab">
	
								<input type="radio" id="rd2" name="rd">
								<label class="tab-label" for="rd2">Database</label>
								
								<div class="tab-content">

									{% for db in database %}

									<a href="{{ rp.link }}">
										<h3>
											<img src={% static rp.img %} alt='' width="100px">
											{{ db.title }}
										</h3>
									</a>

									<span class="capt">{{ db.description }}</span>

									{% endfor %}
								</div>
		
							</div>


						  <div class="tab">
	
							<input type="radio" id="rd3" name="rd">
							<label for="rd3" class="tab-close">Close &times;</label>
	
						</div>
						</div>
					</div>


					<div class="tab">
					<label class="tab-label col"><a href='/blog'>Blog</a></label>
					<label class="tab-label col"><a href='mailto:krigjo25@gmail.com'>Hire Me</a></label>
					</div>
				</section>
				</nav>
			</footer>

		</div>

	</body>
</html>

{% endblock %}