/*Progress animation */

@keyframes hrBar {
    0% { 
        inline-size: 0;
    }

    100% { inline-size: 100%;
    }
}
@keyframes upper-Bar {
        0% { 
            block-size: 0; 
        }
        100% { block-size: 100%;}
}
/*Opcaticty*/
@keyframes opacity {
    0% { 
        opacity: 0;
    }

    100% { opacity: 1;
    }
}

/*Show / hide buttons*/
@keyframes btn {
    0%{
        opacity:0;
    }
    90%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}