/*
                        **************************************** Meta information ************************************************************
********** Title : OS - Dock
********** created : by : https://zurb.com/playground/osx-dock 
********** Licence : MIT
********** Modified by : @krigjo25


*/

ul.omcdce li a {
    margin: 0;
    display: block;
    padding: 0 1px;
    block-size: 50px;
    max-inline-size: 18em;
    list-style-type: none;
    transition: 0.15s linear;
    transition-property: width;
    -webkit-transition: 0.15s linear;
    -webkit-transition-property: width;
    -webkit-box-reflect: below 2px
    -webkit-gradient(linear, left top, left bottom, from(transparent),
    color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
}
  
ul.omcdce li a img {
    inline-size: 48px;
}
  
ul.omcdce li:hover {
    z-index: 200;
    margin-inline-end: 9px;
    margin-inline-start: 9px; 
}
  
ul.omcdce li:hover a {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
}
  
ul.omcdce li.nearby {
    z-index: 100;
    margin-inline-end: 6px;
    margin-inline-start: 6px;
}
  
ul.omcdce li.nearby a {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
}
  
ul.omcdce li span {
    bottom: 30px;
    display: none; 
    margin: 0 auto;
    font-size: 11px;
    padding: 3px 6px;
    inline-size: auto;
    font-weight: bold;
    position: relative;
    border-radius: 6px;
    transform: rotate(0deg);
    -webkit-border-radius: 6px;
    color: rgb(191, 191, 191);
    background: rgba(13,13,13,13.75);
}
ul.omcdce li:hover span {
   display: block;
}