{% load static %}
{% load sass_tags %}


<!DOCTYPE html>
<html lang="en">

    <head>
        {% include 'home/head.html' %}
        <link rel= "stylesheet" type = "text/css" href = "{% sass_src 'sass/__blog__.sass' %}" media = "screen">

    </head>

    <body>
        {% load mdextra %}
        <div id="curve">
            {% include 'home/header.html' %}
            

        
                <main>
                    
                    {% for post in blogPost %}
                    
                    

                        <article>
                            <h2>
                                    {{ post.title }}                            
                                </a> 

                            </h2>

                            <small>

                                {{ post.modified.date}} | categories:
                                <a href=" {% url 'blogIndex' %}"><div class = "tag">#{{ tag }}</div></a>


                            </small>

                            <p class = 'sku'>

                                {{ post.body | markdown | safe }}


                            </p>
                                
                                <a href = '{{ post.link }}'>

                                    <button>Add <b>{{ post.title }}</b> to Discord</button>
                                </a>

                            </p>

                            <cite>Written by : (post userID)</cite>

                        </article>

                    {% endfor %}



                    </main>

            </div>

	</body>
</html>