{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include '../home/head.html' %}
	</head>
	<body>
		<div id="curve">
			{% include '../home/header.html' %}
	
			<main>
				<article>
					{% for category in Tag %}
					<section>
						<div class="crd">
							<a href="{% url 'blogPost' category.name %}">
								<button class="crd">

									<h2> #{{ category.name }}</h2>

								</button>
							</a>
						</div>
					</section>
					{% endfor %}
				</article>

            </main>

		</div>

	</body>
</html>

