/*					Iphone 5/SE 				*/
* {
  box-sizing: border-box;
}

header, main, footer {
  inline-size: 100%;
  display: inline-block;
}


body {
  font-size: 0.850em;
  inline-size: 20em;
  margin-inline-end: auto;
  margin-inline-start: auto;
  writing-mode: horizontal-tb;
}

h1 span:nth-child(1) {
  color: #fafafa;
}

h1 span:nth-child(2) {
  color: #b38a6d;
}

header a {
  color: #000000;
  text-decoration: none;
}

header h1 {
  font-size: 3em;
  text-align: center;
  font-family: "pricedown";
}
header ul {
  inline-size: 24em;
  margin-inline-end: auto;
  margin-inline-start: auto;
}

header li {
  inline-size: 8em;
}

main article {
  margin-block-end: 2em;
}

main p {
  font-size: 1.3em;
  text-align: center;
  text-align: -webkit-center;
}

main h3 {
  text-align: center;
}

main h3 nav {
  column-count: 2;
  column: 3.125em 2;
}

main h3 nav a::link {
}

main h3 nav li {
  font-size: 0.925em;
}

main div.cap {
  inline-size: 100%;
  text-align: center;
  text-align: -webkit-center;
}

main li.btn {
  padding: 11px;
  font-size: 0.821em;
  inline-size: 11.8em;
  border: 1px solid #000;
  margin-block-end: 0.43em;
  margin-inline-end: 0.2em;
}





nav ul {
  padding-inline-start: 0em;
}

nav ul li {
  display: inline-block;
}

div.cap p {
  font-size: 1.1em;
  inline-size: 16em;
  text-align: justify;
}

footer p {
  font-size: 1.12em;
  text-align: center;
  text-align: -webkit-center;
}

footer p span {
  color: #b38a6d;
  font-family: "pricedown";
}

footer cite {
  font-size: 0.9em;
}

.samp {
  inline-size: 4em;
  margin-inline-start: 4em;
}

.discord {
  left: 3em;
  position: relative;
}

.test {
  inline-size: 100%;
  inline-size-margin-block-end: 3em;
  inline-size-margin-block-start: 3em;
}
